body {
    background-image: url(images/background.png);
    background-color: rgb(194, 245, 194);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    align-content: center;
}

button {
    text-align: center;
    margin: auto;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(0, -50%);
    background-color: rgb(210, 245, 196);
    border-radius: 20px;
    border: 12px groove rgb(194, 94, 12);
    font-weight: bolder;
    padding: +20px;
    font-size: larger;
}

div {
    background-color: bisque;
    height: 500px;
    width: 500px;
    flex-wrap: wrap;
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    border: 6px groove rgb(194, 94, 12);
    border-radius: 20px;
    opacity: 0.9;


}
/*/Other thnigs to work on
   // stretch/fill background image
   // center button on landing page