body {
    background-image: url(images/background.png);
    background-color: rgb(150, 217, 203);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    align-content: center;
}

button {
    text-align: center;
    margin: auto;
    position: absolute;
    top: 50%;
    left: 40%;
    transform: translate(0, -50%);
    background-color: rgb(204, 237, 192);
    border-radius: 20px;
    border: 20px groove rgb(255, 202, 10);
    padding: +20px;
    font-size: 30px;
    font-family: 'Kaushan Script', cursive;
}

.playingField {
    background-color: bisque;
    height: 500px;
    width: 500px;
    position: fixed;
    left: 50%;
    top: 60%;
    transform: translate(-50%, -50%);
    border: 8px groove rgb(224, 109, 12);
    border-radius: 20px;
    opacity: 0.9;
    display: flex;
    align-items: center;
}
img>.playingField {
    height: 150px;
    width: 150px;
}

div>li {
    display: inline-flex;
    flex-wrap: wrap;
    justify-content: space-between;

}

h2 {
    background-color: bisque;
    border-radius: 20px;
    border: 8px groove rgb(204, 237, 192);
    padding: 7px;
    position: fixed;
    top: 10%;
    left: 35%;
    font-family: 'Kaushan Script', cursive;
    color: rgb(7, 66, 7);
    
}

nav {
    top: 0px;
    background-color: rgb(224, 109, 12);
    border: 8px groove bisque;
    border-radius: 20px;
    color: bisque;
    height: 2%;
    width: 98%;
    font-family: 'Kaushan Script', cursive;

}

nav>ul {
    list-style-type: none;
    text-align: justify;
    display: flex;
    justify-content: space-evenly;
}

nav>li {
    font-family: 'Kaushan Script', cursive;
}

/*/Other thnigs to work on
    music and controls
    pop up window for rules
    nav bar

        /* This container is needed to position the front and back side */
        .tileInner {
            text-align: center;
            transition: transform 0.8s;
            transform-style: preserve-3d;
            display: inline-flex;
            flex-wrap: wrap;
            justify-content: space-between;
        }
    
        /* Do an horizontal flip when you move the mouse over the flip box container */
        .playingField:hover .tileInner {
            transform: rotateY(180deg);
        }
    
        /* Position the front and back side */
        .tileFront,   .tileBack {
            -webkit-backface-visibility: hidden;
            /* Safari */
            backface-visibility: hidden;
                    display: inline-flex;
                    flex-wrap: wrap;
                    justify-content: space-between;
        }
    
        /* Style the front side (fallback if image is missing) */
        .tileFront {
            background-color: rgb(204, 237, 192);
            color: black;
        }
    
        /* Style the back side */
        .tileBack {
            background-color: rgb(255,202, 10);
            color: white;
            transform: rotateY(180deg);
        }