body {
    background-image: url(images/background.png);
    background-color: rgb(150, 217, 203);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    align-content: center;
}

button {
    text-align: center;
    margin: auto;
    position: absolute;
    top: 50%;
    left: 40%;
    transform: translate(0, -50%);
    background-color: rgb(204, 237, 192);
    border-radius: 20px;
    border: 20px groove rgb(255, 202, 10);
    padding: +20px;
    font-size: 30px;
    font-family: 'Kaushan Script', cursive;
}

.playingField {
    background-color: bisque;
    height: 500px;
    width: 500px;
    position: fixed;
    left: 50%;
    top: 60%;
    transform: translate(-50%, -50%);
    border: 6px groove rgb(224, 109, 12);
    border-radius: 20px;
    opacity: 0.9;

}

div>li {
    display: inline-flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;

}

h2 {
    background-color: bisque;
    border-radius: 20px;
    padding: 7px;
    position: fixed;
    top: 8%;
    font-family: 'Kaushan Script', cursive;
    color: rgb(7, 66, 7);
}

nav {
    top: 0px;
    background-color: rgb(224, 109, 12);
    border: 6px groove bisque;
    border-radius: 20px;
    color: bisque;
    height: 2%;
    width: 98%;
    font-family: 'Kaushan Script', cursive;

}

nav>ul {
    list-style-type: none;
    text-align: center;

}

nav>li {
    font-family: 'Kaushan Script', cursive;
    display: inline-block;

}

/*animation when the cards don't match /*
@keyframes

*/



/*/Other thnigs to work on
    music and controls
    pop up window for rules
    nav bar